<div id="dogContainer">
  <div>
    <mat-toolbar>
      <span>{{ title.toString() }}</span>

      <span class="example-spacer"></span>

      <a mat-button href="/">Home</a>
      <a mat-button href="/">Products</a>
      <a mat-button href="/">Pricing</a>
      <a mat-button href="/">About</a>
    </mat-toolbar>
  </div>
  <h3 class="bg-blue-800 text-white text-xl p-4 rounded">Random Dog Gallery</h3>
  <div class="bg-blue-800 text-sm text-gray-200 mt-2">
    This is the greatest dog gallery in the world! You can find all kinds of dogs here, from small
    to large, from cute to scary. Enjoy!
  </div>

  <div *appAuthenticatedCheckDirective>
    <button mat-icon-button aria-label="Login">
      <mat-icon>person</mat-icon>
    </button>
  </div>
  <br />
  <br />

  <div>
    <button mat-raised-button color="primary" (click)="loadDogs()">Load Dogs</button>
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    @for (image of dogImage(); track $index) {
      <div class="bg-red-500 rounded-lg p-4 pb-10">
        <button mat-raised-button color="primary" (click)="getRandomDogImage($index)">
          Show me a dog
        </button>

        @if (image !== undefined) {
          <div>
            <img [src]="image" alt="Random Dog" class="object-fill w-full h-full rounded-lg" />
            <div class="text-sm text-gray-700">
              This is the greatest description this dog will ever get!
            </div>
          </div>
        }
      </div>
    }
  </div>
  <div>
    <app-componenta-mea-puternica [text]="'Hello from App'"></app-componenta-mea-puternica>
  </div>
</div>
